Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#Lets connect to webdriver
driver=webdriver.Chrome(r"C:/chromedriver")

In [6]:
#Opening the homepage
driver.get("https://www.naukri.com/")

In [7]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [8]:
#write on search bar
search_job.send_keys("Data Analyst")

In [10]:
#find element by job location bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [11]:
search_loc.send_keys("Bangalore")

In [13]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [78]:
#Now extracting the job titles 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

In [79]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="7f0c427e-defb-45af-91a8-1b274b02493c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="f5b968e8-747e-4ef9-b27f-a8f5d1fa8624")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="977048fd-499c-42b7-8c03-d8f322a95221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="ade6c53a-ba7e-430c-8a33-860092abe760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="08f67038-2664-4abf-ab2a-c59837945064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="11675c66-400e-40f5-82b4-fbc101f5d821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="06f1df88-7c3b-4d63-8d73-a2ac2022ddb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="92f8deb0-bd52-452a-a528-356636636f87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="ef22e664-479d-4f57-9a6f-7eb071b31d4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="31e90a8b-e6be-405f-8112-fd074f3fb035")>]

In [80]:
#Now the text of job title is inside the title tag extracted above and hence lets run a loop to iterate over the extracted tags

job_title=[]
for i in title_tags:
    job_title.append(i.text)

In [81]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst - Informatica MDM',
 'Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)']

In [75]:
#Extracting the first 10 company_tags
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="f9eefaf0-32f2-45e1-a54a-8c7f9c99b03b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="7e599f4c-fb5f-47fd-a184-70bec7dc448b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="14f3f167-1b5e-4d0b-8c47-b87e9d874c46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a5768c84-b6a9-4601-bd9e-1938cbaa9f08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="384f95cf-0945-46d1-984c-37bd26d83836")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="31acf090-7964-42aa-b526-b5763f8edc13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="4b65006b-4450-4f4e-832d-bf40ab3c21e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="1675d448-f688-4b2f-b189-791740d29abc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="21373667-75c9-471a-b565-920f2505ee33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="b89318e9-156e-44aa-9b38-2567cdc799d6")>]

In [76]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [77]:
company_name

['Inflexion Analytix Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Shell India Markets Private Limited',
 'Applied Materials',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Allegis Services India Pvt. Ltd.',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.']

In [71]:
#lets extract all the tags having experience related data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]

In [72]:
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="0a8b9b15-a7cf-4079-9d7a-c4b1debaa393")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="316fec7e-ada3-459e-9443-5ca888a5048d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="b782ffac-6877-43cf-904e-05b424d0f260")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="5740dd9f-1118-4ae9-92d6-9dbdd396a078")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="244137e0-8af6-473d-bacd-78790261faf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="137ecaf6-47c5-40a3-bf65-46c518ed4ca5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="e76ccb29-7f42-4ede-b433-cf4e42c9344c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="657290e6-4764-477a-8068-e8e4fb12316b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="00c4223e-9445-44de-98dc-f1977ef77fd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="0a441f6b-72a2-4507-8e79-6389614a0476")>]

In [73]:
#To extract the experience related text from the experience tags extracted above
experience=[]
for i in experience_tags:
    experience.append(i.text)

In [74]:
experience

['0-3 Yrs',
 '0-2 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '5-8 Yrs',
 '12-18 Yrs']

In [34]:
experience

['0-3 Yrs',
 '0-2 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '5-8 Yrs',
 '12-18 Yrs']

In [65]:
# to extract all html tags where we have location of job data
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]

In [66]:
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="157bd952-c534-4357-a77d-ccf2f760c75a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="345a50e7-2f5a-48ab-a630-d6446faf2c0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="e2e844cf-6905-4679-8750-577a5f277a15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="aa9568a6-8e00-4803-bb7d-ac10d457f256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="11d0780b-d3f2-49af-b22d-e520deae9b48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a57f1802-fbf4-49ae-9493-8f1070679b2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="447092c0-6d29-4543-ac8b-24ddedbafa4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="9f49ed22-ebfc-4052-8e64-f709586909b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a7ba9ad5-1528-4d6f-b35b-f126f40ffa6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="ae71a31a-8452-4ef1-8f34-bf7014bcd96c")>]

In [69]:
#to extract the text from the above extracted tags
location=[]
for i in location_tags:
    location.append(i.text)

In [70]:
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru']

In [82]:
#to put it in a dataframe
jobs=pd.DataFrame({})

In [83]:
jobs['job_title']=job_title

In [84]:
jobs['company_name']=company_name

In [85]:
jobs['experience required']=experience

In [86]:
jobs['location']=location

In [87]:
jobs.head(10)

,job_title,company_name,experience required,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,0-2 Yrs,Bangalore/Bengaluru
2,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Bangalore/Bengaluru
3,Data Analyst,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
4,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
5,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,0-5 Yrs,Bangalore/Bengaluru
6,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
8,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Bangalore/Bengaluru
9,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"

 Q2 Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data

In [14]:
#Opening the homepage
driver.get("https://www.naukri.com/")

In [15]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [16]:
#write on search bar for Data scientist
search_job.send_keys("Data Scientist")

In [17]:
#find element by job location bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [18]:
search_loc.send_keys("Bangalore")

In [23]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//button[@class='btn']"}
  (Session info: chrome=90.0.4430.93)

In [29]:
#Now extracting the job titles 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

In [30]:
#Now the text of job title is inside the title tag extracted above and hence lets run a loop to iterate over the extracted tags

job_title=[]
for i in title_tags:
    job_title.append(i.text)

In [31]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Analytics & AI Product Mgmt - Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Credit risk']

In [98]:
# to extract first 10 html tags where we have location of job data for first 10 records
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]

In [99]:
#to extract the text from the above extracted tags
location=[]
for i in location_tags:
    location.append(i.text)

In [100]:
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [101]:
#Extracting the first 10 company_tags
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="525d8743-419e-43d0-a2f9-a6fe711bd982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="44dbccb8-eb28-4f21-9def-fd2ec2e710b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="9f31e114-a42c-4fd5-b215-4653f13fc503")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="3729ab98-76ec-4743-94cc-31f3592868a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="e3b2d81d-1fe5-4812-8820-d41f981a70f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="cea27ae6-2d29-4d63-805e-f5b122cb5f11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="aaf288e2-6133-499f-8502-da19fe625960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="20a7e72a-18b1-4247-b038-0de55ef4a731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a58bd1c9-8779-4116-91f4-f1655e3ca938")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="21a2152d-95ba-4484-bc80-2216ecb5ef66")>]

In [102]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [103]:
company_name

['Inflexion Analytix Private Limited',
 'CES Ltd.',
 'CES Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Vijaya Management Services',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems']

In [43]:
#Extracting the first 10 jobdescription_tags
jobdescription_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")[:10]
jobdescription_tags

[<selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="ec67739e-11af-4141-8718-c0c9a1273555")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="80026a44-77db-4da0-a16f-f6049bd4bdb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="794912af-15e3-41ca-854f-02927192f7ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="95080a12-2130-40b8-91ff-21aa7f4c2c25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="967ca22f-cfc0-4492-878a-703145a79186")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="509c22f6-f1fc-4cd4-ba69-26c28e473cfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="f2386cfe-2d59-4224-a0db-33874d7e7ab7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="644d2581-a5e1-4818-b68e-d26b2a284f70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="bc79a250-f0f2-4059-a8a7-96c02b9125b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a495c85929ff1eb84b8ee9f178e991c9", element="3106d6bf-ca48-4760-923e-5e20503d9a37")>]

In [45]:
Job_Description=[]
for i in jobdescription_tags:
    Job_Description.append(i.text)

In [46]:
Job_Description

['Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to...',
 'Must be extremely detail and technology-oriented and possess excellent communications s...',
 'Must be extremely detail and technology-oriented and possess excellent communications s...',
 'A higher degree (PhD preferred) in Engineering, Statistics, Data Science, Applied Mathe...',
 '3+ years practical experience with advanced machine learning techniques and big data te...',
 'Masters degree in Economics, Mathematics, Statistics, Engineering 5 years of relevant e...',
 'Required Technical and Professional ExpertisePreferred Technical and Professional Exper...',
 'Should have hired and nurtured talent and grow them in market facing specialists and co...',
 'Should have hired and nurtured talent and grow them in market facing specialists and co...',
 'Responsibilities and duties Focus on developing clear and concise analytical approach f...']

In [119]:
#To put the scraped data of first 10 records in dataframe
Datascience_jobs=pd.DataFrame({})

In [120]:
Datascience_jobs['job_title']=job_title

In [121]:
Datascience_jobs['job-location']=location

In [122]:
Datascience_jobs['company_name']=company_name

In [123]:
Datascience_jobs['Full job description']=Job_Description

In [124]:
Datascience_jobs

,job_title,job-location,company_name,Full job description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Applications invited from all Freshers and exp...
1,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Must be extremely detail and technology-orient...
2,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Must be extremely detail and technology-orient...
3,Analytics & AI Product Mgmt - Sr. Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,A higher degree (PhD preferred) in Engineering...
4,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Vijaya Management Services,3+ years practical experience with advanced ma...
5,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,"Masters degree in Economics, Mathematics, Stat..."
6,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Required Technical and Professional ExpertiseP...
7,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Should have hired and nurtured talent and grow...
8,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Should have hired and nurtured talent and grow...
9,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Responsibilities and duties Focus on developin...

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:

In [109]:
#Opening the homepage
driver.get("https://www.naukri.com/")

In [110]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [111]:
#write on search bar for Data scientist
search_job.send_keys("Data Scientist")

In [112]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [113]:
#To apply for filter using delhi/NCR 
Filter_button_location=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")

In [114]:
Filter_button_location.click()

In [115]:
#To Filter salary as '3-6 'Lakhs
Filter_button_salary=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

In [116]:
Filter_button_salary.click()

In [117]:
#Now extracting the job titles 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

In [118]:
#Now the text of job title is inside the title tag extracted above and hence lets run a loop to iterate over the extracted tags

job_title=[]
for i in title_tags:
    job_title.append(i.text)

In [119]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Excellent opportunity For Data Scientist',
 "Data Scientist - Noida/ B'lore",
 'Data Scientist',
 'Data Scientist',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida']

In [120]:
# to extract first 10 html tags where we have location of job data for first 10 records
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]

In [121]:
#to extract the text from the above extracted tags
location=[]
for i in location_tags:
    location.append(i.text)

In [122]:
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida']

In [123]:
#Extracting the first 10 company_tags
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="d4bf0eb6-a475-4a5a-89cc-3e0be6879eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="330228e0-6fc4-401f-ad00-37d136eefc73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="0667a6bc-21f6-4181-8ff3-1bee58a5af2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="127caf4d-06a3-4809-8a1f-3a6e8c026ea5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="4411d031-ce56-4263-b5b6-ac2a866dfbe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="242e8e0f-d2c4-47eb-825a-46d2bfcac01f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="632e358c-d9a9-452f-9b20-8c902e89e1cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="b67f0f51-da5a-40d8-9d6f-7ef865ff57ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="82173492-d310-4f5d-8972-9e5490f34c55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="934a2a8a1dccc0bd09a8954d571d07af", element="e0221179-14cb-45c9-ae78-9375c5c368a9")>]

In [124]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [125]:
company_name

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'Ravgins International Pvt. Ltd.',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Cloudstrats Technologies Private Limited',
 'Mobikwik',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited']

In [126]:
#lets extract all the tags having experience related data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]

In [127]:
#To extract the experience related text from the experience tags extracted above
experience=[]
for i in experience_tags:
    experience.append(i.text)

In [128]:
experience

['0-3 Yrs',
 '4-9 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-5 Yrs']

In [129]:
#To create dataframe of datascience jobs in Delhi/NCR location and 3-6 lakhs
Datascience_jobs_1=pd.DataFrame({})

In [131]:
Datascience_jobs_1['job_title']=job_title

In [132]:
Datascience_jobs_1['job-location']=location

In [133]:
Datascience_jobs_1['company_name']=company_name

In [134]:
Datascience_jobs_1['Experience_Required']=experience

In [135]:
Datascience_jobs_1

,job_title,job-location,company_name,Experience_Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
3,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
4,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs
6,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
7,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
8,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
9,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company

In [10]:
#Lets connect to webdriver
driver=webdriver.Chrome(r"C:/chromedriver")

In [11]:
#Opening the homepage
driver.get("https://www.glassdoor.co.in/index.htm")

In [12]:
#finding element for job search bar
search_job=driver.find_element_by_id('sc.keyword')
search_job

In [13]:
#write on search bar for Data scientist
search_job.send_keys("Data Scientist")

In [14]:
#finding element for location search bar
search_location=driver.find_element_by_id('sc.location')
search_location

In [15]:
search_location.send_keys("Noida")

In [16]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

In [18]:
#Extracting the first 10 company_tags
company_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="366234ca-b138-4793-bbe6-e41576f11ad3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="bc517616-19f1-42c2-bc9f-b4084ee1d50e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="d7e719c8-9f39-4cb8-a380-eadb26eff65e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="c256491c-c380-4bab-9609-9e5bbf21eb21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="0ed40e44-9f61-4d18-a7f2-ef2f9924afa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="7c013989-0599-4259-ad99-b6737d3cdaa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="366b434a-a660-4203-9a2f-05fce6f13e2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="138b7237-3d93-48ee-bf56-bba9758135c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="b92941ac-d5a3-471d-a4bb-a5737c8ea0e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="22ae0267-85ce-4fe1-bb7c-e5e4b2659dbc")>]

In [19]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [20]:
company_name

['BlackRock',
 'Bechtel',
 'Skyjobs hr services',
 'Mansha Solutions',
 'MasterCard',
 'Lantern Digital Services',
 'Ericsson',
 'Sparkbpl',
 'Biz2Credit Inc',
 'Boston Consulting Group']

In [21]:
#Extracting the tags for first 10 records for no. of days ago job was posted 

jobage_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")[:10]
jobage_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="d37e29ef-5851-48a9-800c-9d752fff646d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="1eb97699-27cd-4ca4-80d9-37b3a1b5f7be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="2bbe2576-c5e8-4b8d-8bfd-78c8bff9e87c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="8a81aa3e-31c4-4710-8096-09d750fe3e6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="59503f09-c8fa-4aec-8e19-f8e0485c4e2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="04f056d0-49b4-4eb4-a727-9baff2ac29b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="385af8ef-bbdc-44f6-99f8-ef0d1c8880d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="3ac84613-cff5-4f32-b933-2fb7db6fe501")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="89950b2f-e143-4887-8b02-fb716cdb6a34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="b4043160-eeaa-4db6-a118-b1d3615c5d98")>]

In [22]:
No_ofdays_ago_job_posted=[]
for i in jobage_tags:
    No_ofdays_ago_job_posted.append(i.text)

In [23]:
No_ofdays_ago_job_posted

['2d', '11d', '2d', '4d', '17d', '3d', '9d', '9d', '17d', '23d']

In [24]:
##Extracting the tags for first 10 records for rating of the company

review_tags=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")[:10]
review_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="6db61950-a07a-4bd1-b5ab-1ea9a8722fa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="8cfa0e7e-ad53-4a88-97e3-58ef9f420c41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="c0624c4b-56eb-4531-9e51-45c363f171e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="30df3872-bf8a-42f6-b077-112707c89123")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="1f5ff6b7-dac1-46e6-b476-afcd551a0d3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="8723fa9a-aa4a-48d8-aa85-b64713012b81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="15e55cc0-4c04-40c5-aa25-5b227443b736")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="301caddd-f1f2-4c26-9d8f-2791a4020ebf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="dde2a972-c40f-4aa2-9ef4-86720827cb1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e8630fceee3ce750d0491f09cb8650a", element="08e7e641-035a-40c6-bc57-1cd6a03f698c")>]

In [25]:
#Extract review from the review tags
review=[]
for i in review_tags:
    review.append(i.text)

In [26]:
review

['4.1', '4.0', '4.1', '3.8', '4.1', '3.7', '3.1', '5.0', '3.8', '4.1']

In [27]:
#Lets create the dataframe

In [28]:
Datascience_jobs_glassdoor=pd.DataFrame({})

In [29]:
Datascience_jobs_glassdoor['company_name']=company_name

In [30]:
Datascience_jobs_glassdoor['No. of days ago when job was posted']=No_ofdays_ago_job_posted

In [31]:
Datascience_jobs_glassdoor['Rating of the company']=review

In [32]:
Datascience_jobs_glassdoor

,company_name,No. of days ago when job was posted,Rating of the company
0,BlackRock,2d,4.1
1,Bechtel,11d,4.0
2,Skyjobs hr services,2d,4.1
3,Mansha Solutions,4d,3.8
4,MasterCard,17d,4.1
5,Lantern Digital Services,3d,3.7
6,Ericsson,9d,3.1
7,Sparkbpl,9d,5.0
8,Biz2Credit Inc,17d,3.8
9,Boston Consulting Group,23d,4.1

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.

In [108]:
#Lets connect to webdriver
driver=webdriver.Chrome(r"C:/chromedriver")

In [109]:
#Opening the homepage
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [110]:
#finding element for job search bar
search_job=driver.find_element_by_id('KeywordSearch')
search_job

In [111]:
#write on search bar for Data scientist
search_job.send_keys("Data Scientist")

In [112]:
#finding element for location search bar
search_location=driver.find_element_by_id('LocationSearch')
search_location

In [117]:
#write on search bar for location Noida
search_location.send_keys("Noida")

In [120]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [121]:
#Extracting the first 10 company_tags
company_tags=driver.find_elements_by_xpath("//p[@class='m-0 ']")[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="7df2f44b-94de-4c23-b373-fbec18dd19aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="453c05ef-48c4-4683-9feb-15857391e3a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="9cb3c45c-9be7-4599-9ce3-acf743e8d4c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="18cf295c-5fbe-4441-912f-e1501d2404bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="f75a274d-a5f9-4fa7-b47a-48a3b92a2e17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="e93fc11b-a1da-4765-9499-db6c83120b89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="6d27ecb5-4d9d-4c02-8576-10ea9a82f446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="08068664-4b37-4666-b632-eec3df65c2cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="f0035e4a-eb2b-4880-ba12-7753351a7003")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="9476a402-f41c-4fcc-af28-acd04ad112ad")>]

In [122]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [123]:
company_name

['Tata Consultancy Services',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

In [124]:
#Extracting total number of salary tags for first 10 records 
Noofsalary_tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")[:10]
Noofsalary_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="61abe036-78c4-4006-92e0-f53aa789b382")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="eeee5a51-fe6c-4980-b4a4-204da84b328b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="2286ffbb-b51d-4c26-bd7d-2900be1a5e9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="b3eacda8-0d05-4942-a94b-27cbbebbb1f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="645a3077-0e47-4fe5-bcbc-f1165d4e0a53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="db72ff12-0eed-4650-b8a9-fdd7549ef9b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="331ceebd-2378-4f9f-84ab-f894554cc2ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="c99cd406-a183-44bf-9dda-b3dbea7598ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="74f97132-bffb-42b8-9791-03508a0053c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="4dbc9494-b813-49da-a4e5-0dfd23dcbbd6")>]

In [125]:
No_of_salaries=[]
for i in Noofsalary_tags:
    No_of_salaries.append(i.text)

In [126]:
No_of_salaries

['16 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries']

In [127]:
#Extracting averagesalary tags for first 10 records 
averagesalary_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")[:10]
averagesalary_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="54c11426-8c49-4820-8e72-c4fa60070fae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="45a10262-5a91-4ac5-89ca-cfae7e1cad11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="ab573b65-d3b5-40c1-a205-7a8120e22cdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="243109e3-045f-49cf-81fd-d57ef8c2fc31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="356fb68f-723d-4ff3-8f36-5e356e8f0dcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="4fd861c2-8da5-4f97-bb3c-5dadbf2f2b75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="6dcfa19e-8f2b-453a-b2d0-4b04e5ee1b9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="b4c0f2b8-a400-4b77-a056-4229ee6b8ea4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="ec91d100-8f0a-4f68-92f5-2af6f34899cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="77b6c614-ef56-45e0-bfa9-e32def162474")>]

In [128]:
Average_salary=[]
for i in averagesalary_tags:
    Average_salary.append(i.text)

In [129]:
Average_salary

['₹ 6,11,228\n/yr',
 '₹ 11,46,533\n/yr',
 '₹ 8,97,795\n/yr',
 '₹ 7,38,057\n/yr',
 '₹ 12,39,781\n/yr',
 '₹ 13,36,142\n/yr',
 '₹ 8,15,192\n/yr',
 '₹ 11,35,221\n/yr',
 '₹ 11,44,243\n/yr',
 '₹ 14,13,288\n/yr']

In [130]:
#Extracting the tags for salary for first 10 records
salary_tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']")[:10]
salary_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="e763f89e-d172-4064-8bcb-da4da2486b34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="a1ea01e8-5ec5-4647-bb51-c32ba6a575a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="03b7fdd8-c1e6-46c8-80a8-474a4ee1cf1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="267ff655-c932-468d-861b-62161821cc64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="96344b18-9971-4433-a573-31ebdee56448")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="df338730-f170-4838-a768-c4c4075150c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="89c4c51d-1099-4ad1-93b4-6acf1a7b87dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="a37b5b6c-820e-4dc0-9179-efdbae57fdc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="f44061b9-0beb-43d0-9419-ffb8798888d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c78d681062989df877cb7aca223460c2", element="c907ca6f-9ce6-4069-a429-5502482bd34e")>]

In [131]:
salaries=[]
for i in salary_tags:
    salaries.append(i.text)

In [132]:
salaries

['₹343K\n₹1,095K',
 '₹577K\n₹2,213K',
 '₹586K\n₹2,730K',
 '₹355K\n₹1,613K',
 '₹450K\n₹11,622K',
 '₹1,069K\n₹1,520K',
 '₹502K\n₹1,465K',
 '₹202K\n₹1,809K',
 '₹575K\n₹1,520K',
 '₹1,014K\n₹2,149K']

In [133]:
min_sal=[i.split('\n', 1)[0] for i in salaries]

In [134]:
min_sal

['₹343K',
 '₹577K',
 '₹586K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K']

In [135]:
max_sal=[i.split('\n', 1)[1] for i in salaries]

In [107]:
max_sal

['₹1,095K',
 '₹2,213K',
 '₹2,730K',
 '₹1,613K',
 '₹11,622K',
 '₹1,520K',
 '₹1,465K',
 '₹1,809K',
 '₹1,520K',
 '₹2,149K']

In [136]:
#Lets create the dataframe for the first 10 records

In [137]:
Datascience_salaries_glassdoor=pd.DataFrame({})

In [138]:
Datascience_salaries_glassdoor['company_name']=company_name

In [139]:
Datascience_salaries_glassdoor['No_of_salaries']=No_of_salaries

In [140]:
Datascience_salaries_glassdoor['Average_salary']=Average_salary

In [141]:
Datascience_salaries_glassdoor['Min_salary']=min_sal

In [142]:
Datascience_salaries_glassdoor['Max_salary']=max_sal

In [143]:
Datascience_salaries_glassdoor

,company_name,No_of_salaries,Average_salary,Min_salary,Max_salary
0,Tata Consultancy Services,16 salaries,"₹ 6,11,228\n/yr",₹343K,"₹1,095K"
1,Accenture,14 salaries,"₹ 11,46,533\n/yr",₹577K,"₹2,213K"
2,IBM,14 salaries,"₹ 8,97,795\n/yr",₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057\n/yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781\n/yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142\n/yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192\n/yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221\n/yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243\n/yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288\n/yr","₹1,014K","₹2,149K"

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:

In [144]:
#Lets connect to webdriver
driver=webdriver.Chrome(r"C:/chromedriver")

In [145]:
#Opening the homepage
driver.get("https://www.flipkart.com")

In [149]:
#finding element for  search bar by xpath
search_ele=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_ele

In [150]:
search_ele.send_keys("sunglasses")

In [151]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [154]:
#To find the elements, Brand,product description,price, discount%
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [162]:
#fetching urls
url=[]
for i in range(0,10):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(k.text)    
    for m in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
         Discount.append(n.text)
            
search_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
search_button.click()

In [167]:
Brandname=Brand[:100]

In [168]:
product_description=Product_Description[:100]

In [169]:
price=Price[:100]

In [170]:
discount=Discount[:100]

In [174]:
Sunglasses=pd.DataFrame({})

In [175]:
Sunglasses['Brand_name']=Brandname
Sunglasses['product_description']=product_description
Sunglasses['price']=price
Sunglasses['discount']=discount

In [176]:
Sunglasses

,Brand_name,product_description,price,discount
0,hipe,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹199,80% off
1,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹500,67% off
2,NuVew,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹185,78% off
3,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
4,Silver Kartz,"UV Protection Wayfarer, Aviator Sunglasses (88)",₹279,76% off
...,...,...,...,...
95,AISLIN,"UV Protection, Night Vision, Riding Glasses Wa...",₹679,72% off
96,elegante,UV Protection Oval Sunglasses (56),₹349,76% off
97,NuVew,UV Protection Wayfarer Sunglasses (55),₹469,71% off
98,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹299,75% off
99,ROYAL SON,"UV Protection, Gradient Round Sunglasses (Free...",₹265,79% off