Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#Lets connect to webdriver
driver=webdriver.Chrome(r"C:/chromedriver")

In [6]:
#Opening the homepage
driver.get("https://www.naukri.com/")

In [7]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [8]:
#write on search bar
search_job.send_keys("Data Analyst")

In [10]:
#find element by job location bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [11]:
search_loc.send_keys("Bangalore")

In [13]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [78]:
#Now extracting the job titles 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

In [79]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="7f0c427e-defb-45af-91a8-1b274b02493c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="f5b968e8-747e-4ef9-b27f-a8f5d1fa8624")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="977048fd-499c-42b7-8c03-d8f322a95221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="ade6c53a-ba7e-430c-8a33-860092abe760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="08f67038-2664-4abf-ab2a-c59837945064")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="11675c66-400e-40f5-82b4-fbc101f5d821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="06f1df88-7c3b-4d63-8d73-a2ac2022ddb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="92f8deb0-bd52-452a-a528-356636636f87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="ef22e664-479d-4f57-9a6f-7eb071b31d4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="31e90a8b-e6be-405f-8112-fd074f3fb035")>]

In [80]:
#Now the text of job title is inside the title tag extracted above and hence lets run a loop to iterate over the extracted tags

job_title=[]
for i in title_tags:
    job_title.append(i.text)

In [81]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst - Informatica MDM',
 'Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)']

In [75]:
#Extracting the first 10 company_tags
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="f9eefaf0-32f2-45e1-a54a-8c7f9c99b03b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="7e599f4c-fb5f-47fd-a184-70bec7dc448b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="14f3f167-1b5e-4d0b-8c47-b87e9d874c46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a5768c84-b6a9-4601-bd9e-1938cbaa9f08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="384f95cf-0945-46d1-984c-37bd26d83836")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="31acf090-7964-42aa-b526-b5763f8edc13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="4b65006b-4450-4f4e-832d-bf40ab3c21e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="1675d448-f688-4b2f-b189-791740d29abc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="21373667-75c9-471a-b565-920f2505ee33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="b89318e9-156e-44aa-9b38-2567cdc799d6")>]

In [76]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [77]:
company_name

['Inflexion Analytix Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Shell India Markets Private Limited',
 'Applied Materials',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Allegis Services India Pvt. Ltd.',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.']

In [71]:
#lets extract all the tags having experience related data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]

In [72]:
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="0a8b9b15-a7cf-4079-9d7a-c4b1debaa393")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="316fec7e-ada3-459e-9443-5ca888a5048d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="b782ffac-6877-43cf-904e-05b424d0f260")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="5740dd9f-1118-4ae9-92d6-9dbdd396a078")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="244137e0-8af6-473d-bacd-78790261faf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="137ecaf6-47c5-40a3-bf65-46c518ed4ca5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="e76ccb29-7f42-4ede-b433-cf4e42c9344c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="657290e6-4764-477a-8068-e8e4fb12316b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="00c4223e-9445-44de-98dc-f1977ef77fd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="0a441f6b-72a2-4507-8e79-6389614a0476")>]

In [73]:
#To extract the experience related text from the experience tags extracted above
experience=[]
for i in experience_tags:
    experience.append(i.text)

In [74]:
experience

['0-3 Yrs',
 '0-2 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '5-8 Yrs',
 '12-18 Yrs']

In [34]:
experience

['0-3 Yrs',
 '0-2 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '5-8 Yrs',
 '12-18 Yrs']

In [65]:
# to extract all html tags where we have location of job data
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]

In [66]:
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="157bd952-c534-4357-a77d-ccf2f760c75a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="345a50e7-2f5a-48ab-a630-d6446faf2c0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="e2e844cf-6905-4679-8750-577a5f277a15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="aa9568a6-8e00-4803-bb7d-ac10d457f256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="11d0780b-d3f2-49af-b22d-e520deae9b48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a57f1802-fbf4-49ae-9493-8f1070679b2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="447092c0-6d29-4543-ac8b-24ddedbafa4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="9f49ed22-ebfc-4052-8e64-f709586909b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a7ba9ad5-1528-4d6f-b35b-f126f40ffa6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="ae71a31a-8452-4ef1-8f34-bf7014bcd96c")>]

In [69]:
#to extract the text from the above extracted tags
location=[]
for i in location_tags:
    location.append(i.text)

In [70]:
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru']

In [82]:
#to put it in a dataframe
jobs=pd.DataFrame({})

In [83]:
jobs['job_title']=job_title

In [84]:
jobs['company_name']=company_name

In [85]:
jobs['experience required']=experience

In [86]:
jobs['location']=location

In [87]:
jobs.head(10)

,job_title,company_name,experience required,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,0-2 Yrs,Bangalore/Bengaluru
2,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Bangalore/Bengaluru
3,Data Analyst,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
4,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
5,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,0-5 Yrs,Bangalore/Bengaluru
6,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
8,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Bangalore/Bengaluru
9,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"

 Q2 Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data

In [89]:
#Opening the homepage
driver.get("https://www.naukri.com/")

In [90]:
#finding element for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [91]:
#write on search bar for Data scientist
search_job.send_keys("Data Scientist")

In [92]:
#find element by job location bar
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [93]:
search_loc.send_keys("Bangalore")

In [94]:
# click using xpath function
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [95]:
#Now extracting the job titles 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

In [96]:
#Now the text of job title is inside the title tag extracted above and hence lets run a loop to iterate over the extracted tags

job_title=[]
for i in title_tags:
    job_title.append(i.text)

In [97]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Analytics & AI Product Mgmt - Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Credit risk']

In [98]:
# to extract first 10 html tags where we have location of job data for first 10 records
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]

In [99]:
#to extract the text from the above extracted tags
location=[]
for i in location_tags:
    location.append(i.text)

In [100]:
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [101]:
#Extracting the first 10 company_tags
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="525d8743-419e-43d0-a2f9-a6fe711bd982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="44dbccb8-eb28-4f21-9def-fd2ec2e710b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="9f31e114-a42c-4fd5-b215-4653f13fc503")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="3729ab98-76ec-4743-94cc-31f3592868a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="e3b2d81d-1fe5-4812-8820-d41f981a70f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="cea27ae6-2d29-4d63-805e-f5b122cb5f11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="aaf288e2-6133-499f-8502-da19fe625960")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="20a7e72a-18b1-4247-b038-0de55ef4a731")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a58bd1c9-8779-4116-91f4-f1655e3ca938")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="21a2152d-95ba-4484-bc80-2216ecb5ef66")>]

In [102]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

In [103]:
company_name

['Inflexion Analytix Private Limited',
 'CES Ltd.',
 'CES Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Vijaya Management Services',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems']

In [110]:
#Extracting the first 10 jobdescription_tags
#jobdescription_tags=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")[:10]
#jobdescription_tags

[<selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="824a4617-79ba-4ce0-a3a2-6e9631f3e8ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="a7dc56b4-5dbe-4f00-9d25-c3091116de4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="ff08113b-1169-43b4-8cdc-5aa91660491b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="43ca3c30-3167-4dbe-965c-d804dedf0dca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="9b55a20b-9f4c-4143-ace6-7701cdd84fd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="6a80182d-26a3-44bd-9a10-6cf171b7b99b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="c2cd72a7-0e2c-4bd2-ba2e-61f8af22b4c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="064beb67-f506-4b7e-a023-c960b6f8edea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="26c39729-733a-46f8-8b05-99439bc9acf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="de71de05128097819bb957e52aac7502", element="26bdac8a-ba87-4983-99f4-275907140720")>]

In [150]:
job_descriptiontag2=driver.find_elements_by_xpath("//section[@class='job-desc']/div")[:10]

In [147]:
Job_Description=[]
for i in job_descriptiontag2:
    Job_Description.append(i.text)

In [151]:
job_descriptiontag2

[]

In [119]:
#To put the scraped data of first 10 records in dataframe
Datascience_jobs=pd.DataFrame({})

In [120]:
Datascience_jobs['job_title']=job_title

In [121]:
Datascience_jobs['job-location']=location

In [122]:
Datascience_jobs['company_name']=company_name

In [123]:
Datascience_jobs['Full job description']=Job_Description

In [124]:
Datascience_jobs

,job_title,job-location,company_name,Full job description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Applications invited from all Freshers and exp...
1,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Must be extremely detail and technology-orient...
2,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Must be extremely detail and technology-orient...
3,Analytics & AI Product Mgmt - Sr. Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,A higher degree (PhD preferred) in Engineering...
4,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Vijaya Management Services,3+ years practical experience with advanced ma...
5,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,"Masters degree in Economics, Mathematics, Stat..."
6,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Required Technical and Professional ExpertiseP...
7,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Should have hired and nurtured talent and grow...
8,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,Should have hired and nurtured talent and grow...
9,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Responsibilities and duties Focus on developin...